/* About */
.about {
  padding: 60px 20px;
  background: var(--card-bg);
  color: var(--text);
  text-align: center;
}

.about h2 {
  margin-bottom: 50px;
}

.about p {
  max-width: 800px;
  margin: 50px auto;
  opacity: .9;
}

.about img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin: 16px auto;
}

@media (max-width: 480px) {
  .about img {
    width: 140px;
    height: 140px;
  }
}