.about{
    padding: 80px 20px;
    background-color: var(--card-bg);
    color: var(--text);
    text-align: center;
}

.about h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.about-text{
    width: 60%;
    text-align: left;
}

.about-text p{
    font-size: larger;
    margin-bottom: 20px;
    line-height: 1.8;
}